{% extends 'base.html' %}

{% block content %}

<table class="table table-hover text-center">
  <thead>
    <tr>
      <th scope="col">序号</th>
      <th scope="col">姓名</th>
      <th scope="col">角色</th>
      <th scope="col">训练日期</th>
      <th scope="col">训练模块</th>
      <th scope="col">训练任务</th>
      <th scope="col">日志类型</th>
      <th scope="col">日志文件</th>
      <th scope="col">上传时间</th>
    </tr>
  </thead>
  <tbody>
    {% if current_user.is_authenticated %}
    {% for training_log in training_logs %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ current_user.name }}</td>
      <td>{{ current_user.role }}</td>
      <td>{{ training_log.date }}</td>
      <td>{{ training_log.module }}</td>
      <td>{{ training_log.task }}</td>
      <td>{{ training_log.type }}</td>
      <td>{{ training_log.file }}</td>
      <td>{{ training_log.upload_date }}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>

{% endblock content %}