.mt-6 {
    margin-top: 6rem;
}

.full-width-background {
    background-color: #4a0d66;
    color: #fff;
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" width="144px" height="250px" viewBox="0 0 144 250" version="1.1"%3e%3cg id="bg_cubes_blue" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"%3e%3cpath d="M74.9846349,210 L146,251.42563 L146,336.741037 L73,294.157704 L0,336.741037 L5.55111512e-17,251.42563 L71.0153651,210 L5.55111512e-17,168.57437 L2.26563926e-18,86.741037 L5.55111512e-17,1.42562967 L72,-40.5743703 L72,-41.741037 L73,-41.1577037 L74,-41.741037 L74,-40.5743703 L146,1.42562967 L146,86.741037 L146,168.57437 L74.9846349,210 Z M73,125.842296 L143.015365,85 L73,44.1577037 L2.98463486,85 L73,125.842296 Z M72,127.57437 L2,86.741037 L2,167.42563 L72,208.258963 L72,127.57437 Z M72,211.741037 L2,252.57437 L2,333.258963 L72,292.42563 L72,211.741037 Z M72,-38.258963 L2,2.57437033 L2,83.258963 L72,42.4256297 L72,-38.258963 Z M144,83.258963 L144,2.57437033 L74,-38.258963 L74,42.4256297 L144,83.258963 Z M144,333.258963 L144,252.57437 L74,211.741037 L74,292.42563 L144,333.258963 Z M144,167.42563 L144,86.741037 L74,127.57437 L74,208.258963 L144,167.42563 Z" id="Combined-Shape" fill="%23720d66" fill-rule="nonzero"%3e%3c/path%3e%3c/g%3e%3c/svg%3e');
    /* background-size: cover;  使图片完全覆盖整个容器 */
    /* background-repeat: no-repeat; 不重复图片 */
    /* background-position: center center; 图片居中 */
    height: 320px;
}

.navbar-stripe {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" width="1200px" height="1px" viewBox="0 0 1200 3" preserveAspectRatio="none"%3e%3crect x="0" y="0" width="1200" height="3" style="fill:%2372D0EB;"/%3e%3crect x="150" y="0" width="1050" height="3" style="fill:%230084AD;"/%3e%3crect x="300" y="0" width="900" height="3" style="fill:%23003764;"/%3e%3crect x="450" y="0" width="750" height="3" style="fill:%234A0D66;"/%3e%3crect x="600" y="0" width="600" height="3" style="fill:%23D51067;"/%3e%3crect x="750" y="0" width="450" height="3" style="fill:%23FF6C0C;"/%3e%3crect x="900" y="0" width="300" height="3" style="fill:%23FEE300;"/%3e%3crect x="1050" y="0" width="150" height="3" style="fill:%238AE2D1;"/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-size: 100%, 1px;
}

/* CSS for traininglog template and markdown note */
.markdown-body, .traininglog-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 1800px;
    margin: 0 auto;
}

.markdown-body {
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body{
        padding: 10px;
    }
}

@media print {
    .top-menu, .print-button {
        display: none !important;
    }
    pre code{
        white-space: pre-wrap !important;
        word-break: break-word !important;
    }
    main{
        margin: 0 !important;
    }
}

/* body {
    overflow-x: hidden;
} */

/* .traininglog key {
    font-weight: bold;
} */

/* .traininglog img {
    max-width: 640px;
    height: auto;
    object-fit: contain;
}


a {
    text-decoration: none;
}

 .if-text-nowrap {
     white-space: normal; 
  }

@media (max-width: 960px) {
    .if-text-nowrap {
        white-space: normal;
    }
}

 文本自动换行 
.traininglog {
    white-space: normal !important;
} */