<!-- 侧边栏 -->
<div class="position-sticky p-3 sidebar-sticky text-bg-dark text-center">
  <a href="/" class="text-white text-decoration-none"><span class="fs-2">ITNSA</span></a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    {% for item in main_nav %}
    <li class="nav-item">
      {% if item.url == request.path %}
      <a class="nav-link active" aria-current="page" href="{{ item.url }}">{{ item.name }}</a>
      {% else %}
      <a class="nav-link text-light" href="{{ item.url }}">{{ item.name }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <hr>
    <!-- 用户菜单 -->
    {% include 'auth/nav.html' %}
</div>