{% extends 'base.html' %}

<!-- {% if current_user.is_authenticated %} -->

{% block content %}

{%if title %}
<div class="d-flex justify-content-center pt-3 pb-3">
    <h1>{{ title }}</h1>
</div>
{% endif %}

<div class="traininglog-body">
  <article class="markdown-body">
    <ul>
      {% for subfolder in subfolders %}
      <li><a href="{{ url_for('note.view_readme', directory=subfolder) }}">{{ subfolder }}</a></li>
      {% endfor %}
    </ul>
  </article>
</div>

{% endblock content %}

<!-- {% endif %} -->