{% extends 'base.html' %}

{% if current_user.is_authenticated %}

{% block content %}

<div class="traininglog-body">
   {# <button class="btn btn-primary print-button float-end" onclick="window.print()">打印</button> #}
   <div class="d-flex justify-content-between align-items-center mb-3">
      <img src="{{ url_for('static', filename='images/gm-logo.png') }}" alt="Logo" class="logo"
         style="max-height:40px; height:auto;">
      <img src="{{ url_for('static', filename='images/world-skills-china.png') }}" alt="Logo" class="logo">
   </div>
   <div class="text-center fs-2 mb-3">
      <p>{{ meta['class'] }}</p>
      <p>{{ meta['document'] }}({{ meta['role'] }})</p>
   </div>

   <table class="table table-bordered border-secondary my-0">
      <thead class="align-middle text-center">
         <tr>
            <th>日期</th>
            <td>{{ meta['updated_at'] }}</td>
            <th>教练姓名</th>
            <td>{{ meta['author'] }}</td>
         </tr>
         <tr>
            <th>训练模块</th>
            <td>{{ meta['module'] }}</td>
            <th>训练任务</th>
            <td>{{ meta['task'] }}</td>
         </tr>
      </thead>
      <tbody>
         <tr>
            <th class="align-middle text-center">训练目标</th>
            <td colspan="3" class="text-start">
               {% for obj in meta['objectives'] %}
               {{ loop.index }}. {{ obj }}<br>
               {% endfor %}
            </td>
         </tr>
         <tr>
            <th class="align-middle text-center">训练内容</th>
            <td colspan="3" class="text-start">
               {% for item in meta['contents'] %}
               {{ loop.index }}. {{ item }}<br>
               {% endfor %}
            </td>
         </tr>
         <tr>
            <th class="align-middle text-center">过程记录</th>
            <td colspan="3" class="markdown-body text-start">
               {{ html | safe }}
            </td>
         </tr>
      </tbody>
   </table>
</div>

{% endblock content %}

{% endif %}