<!-- 登录入口 -->
<div class="navbar-nav ms-2">
    {% if current_user.is_authenticated %}
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ current_user.real_name }}
        </button>
        <ul class="dropdown-menu">
            {% for item in nav.user_logged_in %}
            <li><a class="dropdown-item" href="{{ item.url }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <a href="{{ nav.auth[0].url }}"><button type="button" class="btn btn-outline-info me-2">{{ nav.auth[0].name }}</button></a>
    <a href="{{ nav.auth[1].url }}"><button type="button" class="btn btn-outline-primary">{{ nav.auth[1].name }}</button></a>
    {% endif %}
</div>