{% extends 'base.html' %}

{% if current_user.is_authenticated %}

{% block content %}
<div id="roles-table"></div>
{% endblock content %}

{% block script %}
<script>
    new gridjs.Grid({
        columns: [
            { id: "id", name: "ID" },
            { id: "name", name: "角色" },
            { id: "display_name", name: "角色名" },
            { id: "description", name: "描述" },
            { id: "users", name: "用户" },
        ],
        data: [
            {% for role in roles %}
            {
            id: "{{ role.id }}",
            name: "{{ role.name|e }}",
            display_name: "{{ role.display_name|e }}",
            description: "{{ role.description|e }}",
            users: "{% for user in role.users %}{{ user.real_name }}{% if not loop.last %}, {% endif %}{% endfor %}",
            },
            {% endfor %}
        ],
        search: true,
        sort: true,
        pagination: true,
        language: {
        search: {
            placeholder: "搜索...",
        },
        pagination: {
            previous: "上一页",
            next: "下一页",
            showing: "显示",
            results: () => "行",
        },
    },
        className: {
           table: 'table table-hover',
           thead: 'table-dark',
           a: 'text-decoration-none'
    }
}).render(document.getElementById("roles-table"));
</script>
{% endblock script %}

{% endif %}