{% extends 'base.html' %}
{% block content %}

{%if title %}
<div class="d-flex justify-content-center pt-3 pb-3">
    <h1>{{ title }}</h1>
</div>
{% endif %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <p>攀登世界技能之巅<br>技能创造机会，连接社会。它们是经济进步的基础<br>世界技能大赛树立信心，增强社区能力，促进经济发展</p>
        <p>
            <a href="https://onedrive.live.com/edit?id=4746D661B7A47442!105&resid=4746D661B7A47442!105&cid=4746d661b7a47442&ithint=onenote&redeem=aHR0cHM6Ly8xZHJ2Lm1zL28vYy80NzQ2ZDY2MWI3YTQ3NDQyL0VrSjBwTGRoMWtZZ2dFZHBBQUFBQUFBQjdsaFNoN3JFVmwyZmFsYTVUOFhtUXc_ZT01OjZjMzM4NjJjMmZhNTRmMGJiMjUyNDI4YjJjMWU0YTYzJnNoYXJpbmd2Mj10cnVlJmZyb21TaGFyZT10cnVlJmF0PTk&migratedtospo=true&wdo=2"
                target="_blank">莫天OneNote: Linux</a>
        </p>
        <p>
            <a href="https://kdocs.cn/l/cucJpELJApHm" target="_blank">【金山文档 | WPS云文档】 第47届世赛网管项目A-Linux模块选手注意事项</a>
        </p>
        <p>
            <a href="https://kdocs.cn/l/ci7JtHErU9YW" target="_blank">【金山文档 | WPS云文档】 2024.08.30-世赛排错集锦</a>
        </p>
        <p>
            <a href="https://kdocs.cn/l/coN1nrxiE15T" target="_blank">【金山文档 | WPS云文档】
                第47届世界技能大赛网络系统管理项目冲刺集训查漏补缺攻坚克难进度表</a>
        </p>
    </div>
</div>

{% endblock content %}