{% extends 'admin/base.html' %}

{% if current_user.is_authenticated %}

{% block content %}
<div id="users-table"></div>
{% endblock content %}

{% block script %}
<script>
    new gridjs.Grid({
        columns: [
            { id: "id", name: "ID" },
            { id: "username", name: "用户名" },
            { id: "real_name", name: "姓名" },
            { id: "role", name: "角色" },
            { id: "email", name: "邮箱" },
            { id: "registered_on", name: "注册时间"},
            { id: "is_active", name: "激活" },
            { id: "delete", name: "删除" },
        ],
        data: [
            {% for user in users %}
            {
            id: "{{ user.id }}",
            //username: "{{ user.username|e }}",
            username: gridjs.html('<a class="text-decoration-none" href="{{ url_for('admin.profile', user_id=user.id) }}">{{ user.username|e }}</a>'),
            real_name: "{{ user.real_name|e }}",
            role: "{% for role in user.roles %}{{ role.display_name }}{% if not loop.last %}, {% endif %}{% endfor %}",
            email: "{{ user.email|e }}",
            registered_on: "{{ user.registered_on }}",
            is_active: {% if user.is_active %}"是"{% else %}"否"{% endif %},
            delete: gridjs.html('<a class="text-decoration-none" href="{{ url_for('admin.delete_user', id=user.id) }}">删除</a>'),
            },
            {% endfor %}
        ],
        search: true,
        sort: true,
        pagination: true,
        language: {
        search: {
            placeholder: "搜索...",
        },
        pagination: {
            previous: "上一页",
            next: "下一页",
            showing: "显示",
            results: () => "行",
        },
    },
        className: {
           table: 'table table-hover',
           thead: 'table-dark',
           a: 'text-decoration-none'
    }
}).render(document.getElementById("users-table"));
</script>
{% endblock script %}

{% endif %}