{% macro render_field_label(field) %}
{{ field.label(**kwargs)|safe }}
{% endmacro %}

{% macro render_field(field) %}
{{ field(**kwargs)|safe }}

{% if field.description %}
<!--红色字提醒特别注意要选择训练日志的日期-->
{% if field.name == "date" %}
<div class="form-text text-danger">
{% else %}
<div class="form-text">
{% endif %}
    {{ field.description }}
</div>
{% endif %}

{% if field.errors %}
<ul class="text-danger">
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}