<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="WorldSkills ITNSA">
    <meta name="keywords" content="WorldSkills ITNSA">
    <meta name="author" content="Huang Daojin">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/github-markdown-light.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <!-- <link rel="stylesheet" href="https://cdn.staticfile.org/gridjs/6.0.6/theme/mermaid.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.css" />
    <title>{% if title %}{{ title }} | {% endif %} ITNSA </title>
</head>

<body>
    {% if request.path == '/' %}
    <header>
        {% include 'header.html' %}
    </header>
    {% endif %}

    <nav class="top-menu">
        {% include 'navbar.html' %}
    </nav>

    <main class="container-fluid mt-6">
        {% include 'message.html' %}
        <div class="pt-3" id="content">
            {% block content %}
            {% endblock content %}
        </div>
    </main>

    <aside>
        {% block aside %}
        {% endblock aside %}
    </aside>


    <footer>
        {% include 'footer.html' %}
    </footer>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <!-- <script src="https://cdn.staticfile.org/gridjs/6.0.6/gridjs.umd.js"></script> -->
    <!-- <script src="https://unpkg.com/gridjs/l10n/dist/l10n.umd.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    {% block script %}{% endblock script %}
</body>

</html>